.filterSection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vh;

    p {
        margin: 0 10px;
        color: #f9d094;
        font-size: 16px;
    }
}

.filtersList {
    display: flex;
    justify-content: center;
    align-items: center;
}

    

.filterType {
		flex-direction: row;
    margin: 0 10px;
    padding: 5px;
    background-color: #ffffff;
		color: #000000;
    border: 1px solid #9ca8bd;
    font-size: 16px;
    label {
        margin-left: 5px;
    }
}