.header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 37.5px;
   
}

    h1 {
        font-weight: 900;
        color:#f9d094;
    }

  