.beer__List {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    left: 280px;
    position: absolute;
    margin: 20px 2vw;


    @media screen and  (max-width: 990px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 20px 4vw;
        left: 48px;
    }
}
