.nav__Side {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 280px;
    height: 100vh;
    background-color: #2e2a24;
    color: #f9d094;
    padding: 2em 20px 0;
    border-right: 2px solid rgba(0,0,0,0.5);
    border-right-style: groove;

    @media all and (max-width: 768px) {
        padding: 0 16px;
    }

    .nav__Content {
        @media all and (max-width: 768px) {
            display: none;
        }
    }

    .nav__Logo {
        display: flex;
        justify-content: center;

        h1 {
            font-size: 34px;
        }

        img {
            height: 128px;
            width: 128px;
            opacity: .95;

            @media all and (max-width: 768px) {
                height: 90px;
            }
        }
    }
    @media all and (max-width: 768px) {
        z-index: 999;
        width: auto;
    }

 }
